<form action="/addtrail" method="POST">
  <div class="field">
    <label class="label">Enter Trail Name</label> <input class="input" type="string" name="trailname">
    <label class="label">Enter Trail Distance</label> <input class="input" type="number" name="distancekm">
  </div>
  <div class="field">
    <div class="control">
      <input class="radio" type="radio" name="terraindescription" value="steep"> Steep
      <input class="radio" type="radio" name="terraindescription" value="flat"> Flat
    </div>
  </div>
  <div class="field">
    <div class="select">
      <select name="traillist">
        {{#each traillists }}
          <option> {{lastName}},{{firstName}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-link is-light">Add Trail</button>
    </div>
  </div>
</form>
