<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="MyTrails." subTitle="Add some trails!"}}
  </div>
  <div class="column">
    {{> MainNavigator }}
  </div>
</div>

<div class="columns is-vcentered">
  <div class="column has-text-centered">
    <img width="600" src="images/banner.png"/>
  </div>
  <div class="column box has-text-centered">
    <h1 class="title is-4">Be a trailblazer</h1>
    {{> AddtrailForm }}
  </div>
</div>

