<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="MyTrails Services Inc." subTitle="Sign up or Log in"}}
  </div>
  <div class="column">
    {{> WelcomeNavigator }}
  </div>
</div>

<div class="columns is-vcentered content">
  <div class="column has-text-centered">
    <img width="600" src="images/walkingimagemedium.png"/>
  </div>
  <div class="column">
    <h1 class="title">The Trails app with a difference</h1>
    <p>Add as many trails as you wish - The sky is the limit!</p>
  </div>
</div>
